// Styling for the about section
section#about {
  .block_devices {
    max-width: 320px;
    min-height: 235px;
    margin-left: auto;
    margin-right: auto;
    .block_device_iPad {
      position: absolute;
      top: 0;
      right: 0;
      width: 260px;
      height: 187px;
      img {
        position: relative;
        z-index: 1;
      }
      .block_iPad_pic {
        position: absolute;
        top: 9px;
        left: 18px;
        width: 224px;
        height: 168px;
        background: url(../img/about/about-ipad-pic.png) no-repeat 50% 50% / cover;
        -webkit-box-shadow: 20px 10px 80px 10px rgba(0,0,0,.2);
        box-shadow: 20px 10px 80px 10px rgba(0,0,0,.2);
      }
    }
    .block_device_iPhone {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 93px;
      height: 187px;
      z-index: 1;
      img {
        position: relative;
        z-index: 1;
      }
      .block_iPhone_pic {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 81px;
        height: 175px;
        background: url(../img/about/about-iphone-pic.jpg) no-repeat 50% 50% / cover;
        -webkit-box-shadow: 10px 10px 60px 10px rgba(0,0,0,.2);
        box-shadow: 10px 10px 60px 10px rgba(0,0,0,.2);
      }
    }
  }
  .block_aboutUs_img {
    background: url(../img/about/about-us.jpg) no-repeat 50% 50%/cover;
    padding: 32%;
    border-radius: 10px;
  }
}
@media (min-width: 992px) {
  section#about .block_devices {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  section#about .block_devices {
    max-width: 650px;
    min-height: 458px;
    .block_device_iPad {
      width: 569px;
      height: 409px;
      .block_iPad_pic {
        top: 21px;
        left: 40px;
        width: 489px;
        height: 367px;
      }
    }
    .block_device_iPhone {
      width: 180px;
      height: 361px;
      .block_iPhone_pic {
        top: 10px;
        left: 11px;
        width: 158px;
        height: 342px;
      }
    }
  }
}

// Styling for the mission section
section#mission {
  position: relative;
  .background_missionImg {
    background: url(../img/about/mission-bg.jpg) no-repeat 56.56% 50.54% / cover;
  }
  .background_missionOverlay {
    background: rgba(36, 31, 102, 0.56);
  }
  .block_mission_text {
    background: rgba(84, 113, 180, 0.63);
    padding: 45px 40px 70px 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
}
@media (min-width: 992px) {
  section#mission .block_mission_text {
    margin-left: 110px !important;
  }
}
@media (min-width: 768px) {
  section#mission .block_mission_text {
    width: 570px;
    margin-left: 25px;
  }
}

// Styling for the team section
section#team {
  .block_team_img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto 15px;
    -webkit-box-shadow: 11px 11px 38px 0 rgba(6,42,57,.22);
    box-shadow: 11px 11px 38px 0 rgba(6,42,57,.22);
    &.team_img1 {
      background: url(../img/team/team1.jpg) no-repeat 50% 50% / cover;
    }
    &.team_img2 {
      background: url(../img/team/team2.jpg) no-repeat 50% 50% / cover;
    }
    &.team_img3 {
      background: url(../img/team/team3.jpg) no-repeat 50% 50% / cover;
    }
    &.team_img4 {
      background: url(../img/team/team4.jpeg) no-repeat 50% 50% / cover;
    }
  }
}