// Styling for the helper section
section#helper {
  position: relative;
  .background_helperImg {
    background: url(../img/helper-bg.jpg) no-repeat 50% 50% / cover;
  }
  .background_helperOverlay {
    background: rgba(36, 31, 102, 0.56);
  }
}

// Styling for the callToAction section
section#callToAction {
  position: relative;
  padding: 75px 0;
  .background_callToActionImg {
    background: url(../img/callToAction-bg.jpg) no-repeat 50% 50% / cover;
  }
  .background_callToActionOverlay {
    background: rgba(14, 38, 130, 0.6);
  }
  .block_formCenter {
    background-color: #fff;
    padding: 40px 40px 50px;
    width: 100%;
    max-width: 550px;
    border-radius: 3px;
    margin: 0 auto;
    form{
      input {
        background-color: #E1E1E1;
        padding: 10px 30px;
        height: inherit;
        font-size: 12px;
      }
    }
  }
}

@media (min-width: 992px) {
  section#callToAction .block_formCenter {
    padding: 60px 80px 70px;
  }
}