// Styling for the helper section
section#helper {
  position: relative;
  .background_helperImg {
    background: url(../img/helper-bg.jpg) no-repeat 50% 50% / cover;
  }
  .background_helperOverlay {
    background: rgba(36, 31, 102, 0.56);
  }
}

// Styling for the callToAction section
section#callToAction {
  position: relative;
  padding: 75px 0;
  .background_callToActionImg {
    background: url(../img/callToAction-bg.jpg) no-repeat 50% 50% / cover;
  }
  .background_callToActionOverlay {
    background: rgba(14, 38, 130, 0.6);
  }
  .block_getContact_1 {
    padding: 25px 25px 35px 25px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    img {
      border-radius: 50%;
      width: auto;
      margin-bottom: 15px;
    }
    .getContact_text {
      background-color: #fff;
      border-radius: 10px;
      border-top-left-radius: 0;
      padding: 25px;
    }
  }
  .block_getContact_2 {
    .getContact_img {
      width: 100px;
      height: 100px;
      padding: 18px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.2);
    }
    .wt-section-text {
      span {
        background-color: #c4c255;
      }
    }
  }
}
@media (min-width: 576px) {
  section#callToAction {
    .block_getContact_1 {
      padding: 35px 35px 45px 35px;
      img {
        width: 100%;
        margin-bottom: 0;
      }
      .getContact_text {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0;
      }
    }
  }
}
@media (min-width: 992px) {
  section#callToAction {
    .background_callToActionImg {
      background-attachment: fixed;
    }
  }
}

// Styling for the about-callToAction section
section#about-callToAction {
  position: relative;
  .background_aboutCallToActionImg {
    background: url(../img/helper-bg.jpg) no-repeat 30% 28.11% / cover;
  }
  .background_aboutCallToActionOverlay {
    background: rgba(36, 31, 102, 0.56);
  }
}