// Styling for the footer
section#footer {
  background-color: $primary;
  padding-bottom: 30px;
  .wt-section-text {
    color: lighten($primary, 40%);
  }
  a.nav-link {
    color: #fff;
    padding: .2rem 1rem;
  }
  .list-inline-item a {
    background-color: lighten($primary, 8%);
  }
  form .btn-primary {
    background-color: lighten($primary, 8%);
  }
  .wt-border-top {
    border-top: 1px solid #fff;
    margin-left: -15px;
    margin-right: -15px;
  }
  .wt-text-rights {
    font-size: 12px;
    margin-bottom: 0;
    padding-top: 15px;
    color: lighten($primary, 50%);
  }
}
@media (max-width: 767px) {
  section#footer a.nav-link {
    padding: .5rem 1rem;
  }
  section#footer .wt-border-top .text-right {
    text-align: left !important;
  }
}