// Styling for the footer
section#footer {
  background-color: #2E2F53;
  padding-bottom: 30px;
  .navbar-brand {
    img {
      height: 35px;
    }
  }
  p.wt-section-subheading {
    margin-bottom: 5px;
    font-weight: bold;
  }
  a.nav-link {
    display: inline-block;
    color: #fff;
    padding: .2rem 0;
  }
  .wt-rounded-transparent a {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    &:hover {
      background-color: white;
      color: $primary;
    }
  }
  .border_top {
    border-top: 1px solid #fff;
    margin-left: 0;
    margin-right: 0;
  }
  .wt-section-small-text {
    margin-bottom: 0;
    padding-top: 15px;
  }
}
@media (max-width: 767px) {
  section#footer a.nav-link {
    padding: .5rem 0;
  }
  section#footer .border_top .text-right {
    text-align: left !important;
  }
}
