// Styling for the gallery section
section#gallery {
  .wt-block-gallery-leftImg {
    position: relative;
    min-height: 670px;
    margin-bottom: 30px;
    .wt-background-galleryImg-l {
      background: url(../img/ver3.jpg) no-repeat 50% 50% / cover;
    }
  }
  .wt-block-gallery-rightImg {
    position: relative;
    min-height: 320px;
    margin-bottom: 30px;
    .wt-background-galleryImg-r {
      background: url(../img/ver4.jpg) no-repeat 50% 50% / cover;
    }
    .wt-background-galleryImg-r2 {
      background: url(../img/ver5.jpg) no-repeat 50% 50% / cover;
    }
  }
  .wt-background-galleryOverlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    padding: 30px 20px;
    margin-top: auto;
    background: rgba(0,0,0, 0.15)
  }
}
