// Styling for the masthead
section#masthead {
  position: relative;
  .background_headerImg {
    background: url(../img/main-bg.jpg) no-repeat 70.63% 47.97% / cover , #3c506f;
  }
  &.inner_pages .background_headerImg {
    background: #2e2f53 !important;
  }
  .block_intro {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 992px) {
  section#masthead .block_intro {
    padding-top: 50px;
    padding-bottom: 70px;
    .intro_text {
      max-width: 570px;
      margin-left: auto;
      margin-right: 0;
    }
  }
}
@media (max-width: 767px) {
  section#masthead .block_intro {
    padding-top: 0;
  }
  section#masthead .wt-section-heroTitle {
    font-size: 40px;
  }
}
