// Styling for the pricing section
section#pricing {
  .block_pricingCard {
    color: #fff;
    border-radius: 20px;
    padding: 50px 20px 60px;
    margin-top: 20px;
    .wt-section-subheading {
      font-size: 30px;
    }
    img {
      width: 85px;
    }
    &.pack_one {
      background: rgb(58, 60, 103);
    }
  }
}

// Styling for the pricing-more section
section#pricing-more-light {
  position: relative;
  .background_pricingMoreImg {
    background: url(../img/price-more-bg.png) no-repeat left top / contain, rgb(255, 255, 255);
  }
  .background_pricingMoreOverlay {
    background: rgba(228, 226, 101, 0.8);
  }
  .block_pricingMoreCard {
    color: #fff;
    padding: 50px 20px 60px;
    &.pack_light {
      background-color: #302251;
    }
    .btn {
      width: 160px;
    }
  }
  .table {
    thead {
      th {
        font-size: 22px;
        border-bottom: none;
        border-top: none;
      }
    }
    td {
      font-size: 18px;
      border-top: 1px solid #000;
    }
    tr.price {
      td {
        padding-top: 25px;
        .btn {
          width: 160px;
        }
      }
    }
  }
}