// Styling for the services section
section#services {
  .wt-block-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #a8b7d5;
    margin: 0 auto;
    padding: 15px;
    img {
      width: 50px;
      color: $primary;
    }
  }
}
