// Styling for the testimonials section
section#testimonials {
  .block_testimonials {
    position: relative;
    padding: 40px;
    border-radius: 20px;
    .background_testimonialImg {
      background: url(../img/testimonials-bg.jpg) no-repeat 50% 50% / cover, #3c506f;
    }
    .background_testimonialOverlay2 {
      background: rgba(84, 113, 180, 0.42);
    }
    .background_testimonialOverlay3 {
      background: rgba(74, 195, 199, 0.29);
    }
  }
}
@media (min-width: 992px) {
  section#testimonials .block_testimonials {
    min-height: 351px;
  }
}